            <div class="col-1" style="margin-left: 0;padding: 0;">
                <div class="main-leftsidebar-div" data-component="leftsidebar">
                    <div class="leftsidebar">
                        <ul class="nav border rounded-0 border-primary shadow-lg list-group flex-column d-inline-block first-menu scrollbar-indigo thin first-main-menu" style="margin-top: 28px;">
                            <li class="nav-item list-group-item pl-1 py-2"><a class="nav-link" href="#"><i class="fa fa-dashboard"><span class="ml-2 align-middle" href="#">Dashboard</span></i></a>
                                <ul class="nav list-group flex-column d-inline-block submenu">
                                    <li class="nav-item list-group-item pl-3"><a class="nav-link" href="#">Dashboard</a>
                                        <ul class="nav list-group flex-column d-inline-block sub-submenu">
                                            <li class="nav-item list-group-item pl-4"><a class="nav-link" href="#">Home</a></li>
                                            <li class="nav-item list-group-item pl-4"><a class="nav-link active" href="#">My Site</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item list-group-item pl-3"><a class="nav-link active" href="#">Task</a>
                                        <ul class="nav list-group flex-column d-inline-block sub-submenu">
                                            <li class="nav-item list-group-item pl-4"><a class="nav-link active" href="#">Create Task&nbsp;</a></li>
                                            <li class="nav-item list-group-item pl-4"><a class="nav-link active" href="#">Edit Task</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item list-group-item pl-1 py-2"><a class="nav-link" href="#"><i class="fa fa-ticket"><span class="ml-2 align-middle" href="#">Ticket</span></i></a>
                                <ul class="nav list-group flex-column d-inline-block submenu">
                                    <li class="nav-item list-group-item pl-3"><a class="nav-link active" href="#">Create Ticket</a>
                                        <ul class="nav list-group flex-column d-inline-block sub-submenu">
                                            <li class="nav-item list-group-item pl-4"><a class="nav-link active" href="#">Home</a></li>
                                            <li class="nav-item list-group-item pl-4"><a class="nav-link active" href="#">My Site</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item list-group-item pl-3"><a class="nav-link" href="#">Import Ticket</a>
                                        <ul class="nav list-group flex-column d-inline-block sub-submenu">
                                            <li class="nav-item list-group-item pl-4"><a class="nav-link active" href="#">Create Task&nbsp;</a></li>
                                            <li class="nav-item list-group-item pl-4"><a class="nav-link active" href="#">Edit Task</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            