<%- include('_header',{title:"employeeDashboard"}) %>

<%- include('_sidebar',{title:"employeeDashboard"}) %>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper dashboard">
    <!-- Content Header (Page header) -->
    <img src="/assets/public/dist/img/manager4.jpg" alt="" srcset="">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-3">Employee Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/employee">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-lg-3 col-3"></div>
                        <div class="col-lg-6 col-6">

                            <!-- small box -->
                            <div class="small-box bg-info">
                                <a href="/employee/applyLeave" class="small-box-footer">
                                    <P>
                                        <div class="inner">
                                            <h3> Apply for a leave <i class="fas fa-arrow-circle-right"></i></h3>
                                        </div>
                                    </P>
                                    <p>...</p>
                                    <div class="icon">
                                        <i class="ion ion-bag"></i>
                                    </div>
                                    <p class="small-box-footer"> </p>
                                </a>
                                <a href="/employee/applyLeave" class="small-box-footer"> Click here </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-3"></div>


                        <div class="col-lg-3 col-3"></div>
                        <!-- ./col//////////////////////////////////// -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <a href="/employee/attendance" class="small-box-footer">
                                        <p>
                                            <h3 style="font-size: 20px">Leaving Records <i
                                                    class="fas fa-arrow-circle-right"></i></h3>
                                        </p>
                                        <p>...</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-stats-bars"></i>
                                </div> </a>
                                <a href="/employee/attendance" class="small-box-footer">cllick here </a>
                            </div>
                        </div>
                        <!-- ./col////////////////////////////////////////////////////////////////////////////////////// -->
                        <div class="col-lg-3 col-6">
                            <!-- small box -->
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <a href="/employee/employeeInfo" class="small-box-footer">
                                        <p>
                                            <h3 style="font-size: 20px">My information <i
                                                    class="fas fa-arrow-circle-right"></i></h3>
                                        </p>
                                        <p>...</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div></a>
                                <a href="/employee/employeeInfo" class="small-box-footer"> Click here </a>
                            </div>
                        </div>



                        <!-- ./col -->
                        <div class="col-lg-3 col-3"></div>
                        <!-- ./col -->
                    </div><!-- <h1>Icons</h1> -->
                </div>
            </div>

        </div>
    </section>

    <!-- /.card -->
</div>
</body>
<%- include('_footer') %>



<!-- npx nodemon app.js-->