<%- include('_header')%>
<link rel="stylesheet" href="../assets/css/indexStyle.css">
<link rel="stylesheet" href="../assets/css/indexStyle.scss">

<center><h1>
welcome to jupitor
<br>
<a href="/login">Administrative Login</a>
<br>
<a href="/supervisor/login">supervisor Login</a>

<br>
<a href="/employeelogin">Employee Login</a>
</h1></center>


<div class="slideshow">
  <div class="slideshow-image" style="background-image: url('../assets/img/headway-5QgIuuBxKwM-unsplash.jpg')"></div>
  <div class="slideshow-image" style="background-image: url('../assets/img/HRM.jpg')"></div>
  <div class="slideshow-image" style="background-image: url('../assets/img/21207.jpg')"></div>
  <div class="slideshow-image" style="background-image: url('../assets/img/17545.jpg')"></div>
</div>
<%- include('_footer')%>






