<%- include('_header',{title:"Home"}) %>
    <%- include('_sidebar') %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="background:linear-gradient(to bottom,rgb(212, 212, 212),white) ; background: url('../../assets/img/HR-plan.png') ; background-size:cover;">
            <!-- Content Header (Page header) -->
            <!-- <img src="../../assets/img/HRM.jpg" alt="Human Resource Manager"> -->
        </div>




            <%- include('_footer') %>